html, body, #root {
    height: 100%;
    font-family: "Inter Semi Bold", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: light) {
    :root {
        color: beige;
        background-color: #f3e9dc;
    }
    body, h1, h2, h3, h4, h5, h6, p, span, div, a, li, button {
        color: #000000;
    }

    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #0d1b2a;
    }

    body, h1, h2, h3, h4, h5, h6, p, span, div, a, li, button {
        color: #ffffff;
    }

    a:hover {
        color: #b2baff;
    }

    button {
        background-color: #3a3935;
    }
}



