html, body, #root {
    height: 100%;
    margin: 10px;
    font-family: "Inter Semi Bold", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
